<h1>Enter points of round</h1>

<h3>Oro</h3>
<div class="text-center">
  <div class="switch">
    <input name="switch" id="one" type="radio" checked/>
    <label for="one" class="switch__label">One</label>
    <input name="switch" id="two" type="radio" />
    <label for="two" class="switch__label">Two</label>
    <input name="switch" id="three" type="radio" />
    <label for="three" class="switch__label" >Three</label>
    <div class="switch__indicator" /></div>
  </div>
</div>

<%= form_for [@game, @round] do |f| %>


<h3>Sette Bello</h3>
<div class="d-flex justify-content-between ">
  <div>
    <ul class="no-dot-list">
    <li>
    <%= f.radio_button :sette, "0" %>
    <%= f.label :sette_0, "Player 1" %>
    </li>
    </ul>
  </div>
  <div>
    <ul class="no-dot-list">
      <li>
          <%= f.radio_button :sette, "1" %>
          <%= f.label :sette_1, "Player 2" %>
      </li>
    </ul>
  </div>
</div>

<h3>Primera</h3>
<div class="d-flex justify-content-between ">
  <div>
    <%  %>
    <ul class="no-dot-list">
    <li>
    <%= f.radio_button :primera, "0" %>
    <%= f.label :primera_0, "Player 1" %>
    </li>
    </ul>
  </div>
  <div>
    <ul class="no-dot-list">
      <li>
          <%= f.radio_button :primera, "1" %>
          <%= f.label :primera_1, "Player 2" %>
      </li>
    </ul>
  </div>
</div>

<h3>Cards</h3>
<div class="d-flex justify-content-between ">
  <div>
    <%  %>
    <ul class="no-dot-list">
    <li>
    <%= f.radio_button :cards, "0" %>
    <%= f.label :cards_0, "Player 1" %>
    </li>
    </ul>
  </div>
  <div>
    <ul class="no-dot-list">
      <li>
          <%= f.radio_button :cards, "1" %>
          <%= f.label :cards_1, "Player 2" %>
      </li>
    </ul>
  </div>
</div>

<h3>Scopa</h3>
<div class="d-flex justify-content-between ">
  <div>
    <%  %>
    <ul class="no-dot-list">
    <li>
    <%= f.text_field :scopa_player0, class: "scopa-field" %> Player 1
    </li>
    </ul>
  </div>
  <div>
    <ul class="no-dot-list">
      <li>
          <%= f.text_field :scopa_player1, class: "scopa-field" %> Player 2
      </li>
    </ul>
  </div>
</div>
<%= f.submit :submit %>
<% end %>
