<!DOCTYPE html>
<html>
  <head>
    <title>Scopazilla</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
  <div class="container mt-5">
    <div class="row">
    <div class="col">
      <%= image_tag "https://upload.wikimedia.org/wikipedia/commons/d/dd/Carte_2_denier_d%C3%A9butXIX.jpg" %>
    </div>
    <div class="col text-center bg-warning rounded-5 pb-3">
      <%= yield %>
    </div>
    <div class="col">
      <%= image_tag "https://upload.wikimedia.org/wikipedia/commons/9/9f/Bergamo_Deck_-_Coins_-_02.jpg" %>
    </div>
  </div>
</div>

    <div class="row">
    <div class="col">1</div>
    </div>
     <div class="row">
    <div class="col"> </div>
    </div>
     <div class="row">
    <div class="col">1</div>
    </div>

  </div>
  </body>
</html>
